* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

ul {
	list-style: none;
	display: inline-block;
}
.container {
	max-width: 1260px;
	width: 100%;
	background-color: lightblue;
	padding: 50px;
	margin: 10px auto;
}
.navbar_list {
	display: inline-block;
	margin-left: 90px;
}
.navbar_list a {
	color: #FFFFFF;

}
img {
	width: 60px;
}